.cit_form{
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 45px;
}

.application{
  padding: 0 40px;
  border: 1px solid $color_border;
  margin: 0 0 15px;
}

// trucking
.subset{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .subset_title{
    border: 1px solid $color_border;
    border-bottom: none;
    width: 100%;
  }
  label{
    border: 1px solid $color_border;
    width: 50%;
  }
}
.trucking_form{
  .trucking_start_fieldset_1{
    width: calc(60% - 20px);
  }
  .trucking_start_fieldset_2{
    width: calc(40% - 20px);
  }
}


// trucking after creating
.chosen_parameters{
  label{
    border: 1px solid $color_border;
  }
}

.trucking_line{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0;

  // *************************************** line 1
  .chosen_parameters{
    label{
      padding: 0 5px;
    }
  }
  .truck_parameters{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    .truck_parameters_input{
      width: 100%;
      //border: 1px solid $color_border;
    }
    label{
      width: 25%;
      border: 1px solid $color_border;
      border-top: none;
    }
  }

  .cargo_parameters{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    label{
      width: 80px;
      padding: 0;
      margin: 0 15px;
      position: relative;
      .or{
        position: absolute;
        left: calc(100% + 4px);
        top: 50%;
        transform: translateY(-50%);
      }
      .title{
        width: 100%;
        border: 1px solid $color_border;
        border-bottom: none;
      }
      &:focus{
        background-color: #6DA2C9;
      }

    }
  }

  // *************************************** line 2
  .service_date{
    display: flex;
    flex-direction: column;
    .title{
      border: 1px solid $color_border;
      border-bottom: none;
    }
    input{
      text-align: center;
    }
  }

  .container_number{
    width: 150px;
    .title{
      width: 100%;
      border: 1px solid $color_border;
      border-bottom: none;
    }
  }

  .time_interval{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    .title{
      border: 1px solid $color_border;
      padding: 0 10px;
    }

    label{
      margin: 0 30px;
      position: relative;
      input{
        width: 65px;
      }
      span{
        position: absolute;
      }
      .label_title{
        right: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
      }
      .hours{
        left: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .special_demand{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .title{
      padding: 0 5px;
      border: 1px solid $color_border;
      border-right: none;
      width: 100px;
    }
    textarea{
      font-size: 11px;
      resize: none;
      width: 215px;
    }
  }

  // *************************************** line 3
  .arrive_address,
  .contact_person,
  .phone_number,
  .waiting_time{
    width: 30%;
    .title{
      width: 100%;
      border: 1px solid $color_border;
    }
  }
  .arrive_address,
  .contact_person,
  .phone_number{
    .title{
      border-bottom: none;
    }
    input{
      width: 100%;
    }
  }
  .phone_number,
  .waiting_time{
    width: 20%;
  }
  .waiting_time{
    display: flex;
    .title{
      width: calc(100% - 50px);
    }
    input{
      width: 50px;
      text-align: center;
    }
  }
}






