.cit_form{
  margin-top: 45px;
  //width: 1140px; // temporary. Needs site container width
}

.application_wrap{
  width: 100%;
  overflow-x: auto;

  box-shadow: $shadow_big;
  margin: 0 0 30px;

  // for chrome
  &::-webkit-scrollbar { height: 8px;}
  &::-webkit-scrollbar-button { width: 0;  background-color: lightgray; }
  &::-webkit-scrollbar-track {  background-color: transparent; border: 1px solid lightgray; border-radius: 4px;}
  &::-webkit-scrollbar-track-piece { background-color: transparent;}
  &::-webkit-scrollbar-thumb { background-color: lightgray; border-radius: 5px;}
  &::-webkit-scrollbar-corner { background-color: transparent;}
  &::-webkit-resizer { background-color: transparent;}
  // for ff
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
}
.application{
  padding: 40px 35px;
  //margin: 0 0 30px;
  //box-shadow: $shadow_big;

  background-color: white;

  width: 1140px; // temporary. Needs site container width

}

.fieldsets_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/***** псевдо чекбокс и псевдо радио *****/
.label_width_outside_input{
  position: relative;
  display: flex;
  align-items: center;
  .pseudo_checkbox{
    margin-right: 10px;
  }
  input{
    position: absolute;
    left: -40px;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.pseudo_checkbox{
  display: inline-flex;
  width: 16px;
  min-width: 16px;
  height: 16px;
  border: 2px solid lightgray;
  position: relative;
  transition: border-color 0.15s cubic-bezier(0.5, -0.35, 0.5, 1.5);
  &::before{
    content: '';
    width: 4px;
    height: 6px;
    margin: auto;
    opacity: 0;
    border: 2px solid $color_group_1;
    border-left-color: transparent;
    border-top-color: transparent;
    //border-left: none;
    //border-top: none;
    transform: rotate(45deg);
    transition: all 0.15s cubic-bezier(0.5, -0.35, 0.5, 1.5);

    position: absolute;
    bottom: 70%;
    left: 0;
    transform-origin: left bottom;
  }
}
input:checked ~ .pseudo_checkbox{
  border: 2px solid $color_group_1;
  &::before{
    opacity: 1;
  }
}
//input:checked:disabled ~ .pseudo_checkbox{
//  background-color: $color_bg_disabled;
//}
input:disabled {
  &~ .pseudo_checkbox{
    background-color: $color_bg_disabled;
  }
  &~ .title{
    opacity: 0.5;
  }
}

.application_date{
  margin-bottom: 15px;
}



/***** временные периоды *****/
.departure_period,
.movement_period,
.load_period{
  input{
    width: 100px;
  }
  .labels{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

/* ***** для прикрепления файлов ***** */
.cit__form_attachment{
  cursor: pointer;
  font-size: 14px;

  .cit__form_attachment__title{
    line-height: 36px;
    padding: 0 10px;
  }

  [type=file]{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.flex-start{
  justify-content: flex-start;
}

.left-margin-30{
  >*{
    margin-right: 30px;
  }
}

.form_row input{
  margin-top: auto;
}



